<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Martos Kondi Kör</title>

    <link rel='shortcut icon' type='image/x-icon' th:href="@{img/favicon.png}" />

    <!-- Bootstrap core CSS -->
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/styles.css}" rel="stylesheet">
    <link th:href="@{css/half-slider.css}" rel="stylesheet">

</head>
<body>
</body>
</html>