<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/">

  <head>
      <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
  </head>

  <body>

    <!-- Navigation -->
    <!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

    <!-- Header with Background Image -->
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4">A Terem</h2>
            <hr>
            <p> TODO: Google Map integration with a marker</p>
            <p> TODO: Add pictures to the text</p>
            <p style="text-align:justify">
                A kondi története sok évre nyúlik vissza, és akármilyen meglepő, de a mostani nagyterem helyén egy kocsma állt, bár erre csak
                az idősebbek emlékezhetnek. Miután megszüntették a pincében alkalmanként üzemelő vendéglátó egységet, került kialakításra a
                konditerem”. Azért írtam idézőjellel, mert akik abban az időben itt akartak edzeni, enyhén szólva is spártai körülmények között
                tehették meg. Hogy miért is? HiFi nem volt, aki zenét akart hallgatni, romantikázhatott egy recsegő kis rádióval. Egy törött
                széken egy doboz állt a következő felirattal: a kondi felújítására. A persely tartalmáról:  nem kértek vagyonosodási nyilatkozatot
                a kondisoktól…  Mindezeken kívül nem feledkezhetünk meg a terem fénypontjáról, a mostani boxzsák helyén álló WC pumpáról. Ezek
                az áldatlan állapotok nem hagyták nyugodni a leendő kondi kör első elnökét Lengyel Ádámot. Összehívta azokat az embereket, akik
                a szívükön viselték a kondi sorsát, és szerettek volna jobb körülmények között edzeni. Ekkor elkezdődött a még ma is tartó
                felújítási hullám, aminek nyomán folyamatosan épül-szépül a kondi. A bordásfalak ki lettek cserélve, új tükrök kerültek be,
                futópadra pályáztunk, és még sorolhatnánk. 2013 nyarán egy nagyobb horderejű felújítás következtében számos dolog történt.
                Ekkor került kialakításra a kardió-terem, mindenhova kék szőnyeget fektettünk, a fekvenyomópadot újrakárpitoztattuk és a
                festéssel is elkészültünk. Még rengeteg dolog történt ezen kívül, de nem célom több soros felsorolásokba bocsátkozni. 2014-ben
                ismét nagyot ugrottunk, amint láthattátok, vettünk új eszközöket is, de a legfontosabb, hogy kialakítottunk egy új termet, hogy
                a tovább bővülő gépparknak legyen helye, és szellősebben férjünk el. Sajnos a megígért gépek beszerzése meghiúsult, de bízunk
                abban, hogy ez változni fog, és meg fogjuk tudni tartani az ígéretünket.</p>
               <p style="text-align:justify"> Már eleget regéltem a múltról-jelenről-jövőről, most szeretnék segítséget nyújtani azoknak, akik nem jártak nálunk, de
                   kacérkodnak a bérletvásárlás gondolatával, vagy már vettek bérletet, de nem ismerik annyira a termet. Itt sajnos most muszáj
                   lesz felsorolásba kezdenem. A nagyteremben található egy erőkeret, vagy más néven keresztcsiga, két bordásfal, egy boxzsák,
                   húzódzkodó, Scott-pad, egy dönthető pad, hátgép, vállazó keret, guggoló keret, egy tolódzkodóval egybeépített lábfelhúzásra
                   alkalmas eszköz, valamint francia-és egyenes rudak, illetve kézi súlyzók 2kg-tól egészen 31,5 kg-ig és természetesen megfelelő
                   mennyiségű tárcsasúly. Az újonnan kialakított teremben találjátok meg a fekvenyomópadot egyenes és 45 fokos változatban,
                   valamint egy combfeszítő-hajlítót, és egy lábtolót (a tárcsákat már nem is említem). A kardióteremben van egy szobabicikli,
                   futópad, két bordásfal, matracok és elegendő szabadhely, ahova le tudtok jönni hasazni, tornázni, nyújtani. A két régebbi
                   teremben van Hifi (nagyterem, kardióterem), az új teremben is nemsokára hallgathattok zenét, dolgozunk rajta. Ezen kívül
                   nemrég került kialakításra WiFi hálózat az alagsorban, így már telefonról is tudtok zenét hallgatni aux kábel segítségével.
                   Ezek a kondi fontosabb eszközei, gépei, de még találhattok kisebb kiegészítőket is, mint pl.: mérleg, szivacsok, stb… Ha
                   bármi kérdésetek van a teremmel kapcsolatban, bátran keressetek minket!</p>
                <p>
                    Írta: Papp Márton
            </p>
		  <hr>
          
        </div>

          <!--/*/ <th:block th:include="fragments/right-column :: right-column"></th:block> /*/-->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
  </body>

</html>
