<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/">

<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>

<body>

<!-- Navigation -->
<!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

<!-- Header with Background Image -->
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-sm-8">
            <h2 class="mt-4">Felújítás 2017</h2>
            <hr>
            <img class="img-fluid rounded" src="img/newgym.jpg" alt="">
            <hr>


            <h4> Kedves Kondisok!</h4>
            <div style="text-align:justify">

                <p> Rengeteg befektetett munka, idő és energia szükségeltetett mind a Sportigazgatóság, mind a Kondi Kör
                    részéről,
                    de végül elérkezett a nagy pillanat: a Martos Konditerem újjászületett!</p>

                <p> A konditerem hivatalosan 2017.11.24-én, pénteken, nyitja meg kapuját. A termek februárig ingyenesen,
                    de csak
                    bérlettel használhatók. A bérletigénylés a következő 2,5 hónapra a megszokott módon történik:</p>

                <ul>
                    <li>
                        regisztrálj a kondi.martos.bme.hu oldalon, valamint frissítsd a szobaszámodat;
                    </li>
                    <li>
                        és küldj egy e-mailt "Ideiglenes bérlet 2017/2" tárggyal a martoskondi@gmail.com-ra.
                    </li>
                </ul>
                <p> A csütörtök este 8-ig megigényelt bérleteket péntek reggel már átvehetitek a kollégium portáján.
                    Ugyanitt el
                    fogunk helyezni egy pársoros know-how-t, amiben részletezzük az újításokat, és azokat a szabályokat,
                    amikkel a
                    mostani állapotok megőrzését célozzuk meg. Ezeket nagyon alaposan tanulmányozzátok át!</p>

                <p>Szeretnénk ismételten megköszönni a Sportigazgatóságnak, hogy létrejöhetett a projekt, illetve
                    szeretnénk hálát
                    mondani az elmúlt hetek munkájáért az alumni tagjainknak, a Kondi Kör jelöltjeinek, Molnár Cintiának
                    és Jakus Bercinek.</p>

                <p> És végül, de nem utolsósorban köszönet illeti a Martos Kondi Kör összes tagját, hiszen az elmúlt 2
                    hónapban
                    tanulmányokat, munkát, alvást, szociális életet, egyszóval mindent háttérbe szorítva dolgoztak
                    azért, hogy ne csak
                    egy konditerem legyen a kollégium alagsorában, hanem a MI konditermünk!
                </p>
            </div>
            <hr>
        </div>

        <!--/*/ <th:block th:include="fragments/right-column :: right-column"></th:block> /*/-->

    </div>
    <!-- /.row -->


</div>
<!-- /.container -->

<!-- Footer -->
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>

</html>
