<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/">

  <head>
      <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
  </head>

  <body>

    <!-- Navigation -->
    <!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

    <!-- Header with Background Image -->
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4">Körtagok</h2>		 
		  <img class="img-fluid rounded" src="img/reka.jpg" alt="">
		  <hr>
          
        </div>
        <div class="col-sm-4">
          <h3 class="mt-4">BÉRLETINFORMÁCIÓ</h3>
          <p>ŐSZI KONDIBÉRLET

(2018.08.27.-2018.02.10.)
		  </p>
		  <ol>
			<li>Regisztrálj a kondi.martos.bme.hu-n, ami elengedhetetlen a bérletek 
			elkészítése miatt. Ezt az oldalon található „Saját felület” menüpontban tudod megcsinálni. 
			Akinek már van profilja, ellenőrizze, hogy a szoba számát frissítette-e az aktuálisra 
			(Martos Kollégium lakóira érvényes).</li>
			<li>Vedd meg a bérleted a NEPTUN-on keresztül                                                
			Ehhez a következő lépéseket kell tenned:</br>
			<ul>
			<li>Neptun gyűjtőszámlára a bérlet árának átutalása (6000 Ft).</li>
			<li>Bejelentkezés a neptunba</li>
			<li>Pénzügyek/Befizetés megnyitása</li>
			<li>„Tétel kiírása” gomb</li>
			<li>Fizetési jogcímek: “Szolgáltatási jogcím” kiválasztása Félévek: aktuális félév (jelen esetben “2018/19/1”) kiválasztása 
			Szolgáltatás típusa: Martos konditerem féléves használati díj (6000 HUF)</li>
			<li>Ezután “Tétel létrehozás” gombra kattintás</li>
			<li>A tétel kiírása után “Vissza” gomb a Befizetésekhez</li>
			<li>Ezután az aktuális félév (jelen esetben “2018/19/1”) “Aktív” státuszú befizetéseinél megjelenik a tétel</li>
			<li>A tételt a kijelölés után, a „Befizetés” gombra kattintva tudjátok befizetni</li>
			
			</ul>
			</li>
		  </ol>		  
          
        </div>
      </div>
      <!-- /.row -->

     

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

  </body>

</html>
