<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/">

<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>

<body>

<!-- Navigation -->
<!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

<!-- Header with Background Image -->
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2 class="mt-4">Bejelentkezés</h2>
            <hr>

            <div class="container">
                <form  th:action="@{/login}" method="post">

                    <div class="form-row">
                        <div class="form-group input-group col-md-6">

                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"> <img src="img/ic_email_black.png" width="30" height="30" alt="email_icon"></span>
                            </div>
                            <input type="text" class="form-control" id="email" name="email" placeholder="example@martoskondi.hu">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group input-group col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src="img/ic_lock_black.png" width="30" height="30" alt="key_icon"></span>
                            </div>
                            <input type="password" class="form-control" id="password" name="password" placeholder="••••••••">
                            <small id="pwHelp" class="form-text text-muted">A jelszó legyen legalább 8 karakter hosszú, tartalmazzon kis- és nagybetűt, valamint számot!</small>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div th:if="${loginfailed}" class="alert alert-danger"
                             role="alert" th:text="${loginfailed}"></div>
                    </div>

                    <button type="submit" class="btn btn-secondary">Bejelentkezés</button>
                </form>

                <p> TODO: Set button width to 100% on small and medium devices</p>
                <hr>
            </div>

        </div>

        </div>

    </div>
    <!-- /.row -->


</div>
<!-- /.container -->

<!-- Footer -->
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>

</html>
