<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/">

  <head>
      <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
  </head>

  <body>

    <!-- Navigation -->
    <!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

    <!-- Header with Background Image -->
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4">Házirend</h2>
            <hr>
            <ol style="text-align:justify">
                <li>A termeket mindenki kizárólag saját felelősségére használhatja! Alkohol vagy drog hatása alatt a teremben tartózkodni, edzeni tilos!</li>
                <li>A kollégiumi edzőteremben csak az tartózkodhat, aki az adott félévre érvényes bérlettel rendelkezik, illetve a portán a bérletét leadta, magát a jelenléti füzetbe beírta.</li>
                <li>A futópad használatát, a jelenléti füzetben a megfelelő oszlopban mindig jelöld be egy + jellel és használat után egy papír segítségével tisztítsd le a futópadot!</li>
                <li>A teremben a váltócipő használata kötelező! A külsős edzőtársaink számára egy cipőtartót is elhelyeztetünk a folyosón, így az utcai lábbeliket kérjük még ott vegyétek le!</li>
                <li>A bérletet másra átruházni tilos! Annak, aki belépővel nem rendelkező személyt enged be a terembe, a kondibérletét visszavonjuk!</li>
                <li>A termekben együttvéve maximum 12 személy tartózkodhat. Ha már lent tartózkodik 12 fő (12 kondikártya a portán), akkor tilos lemenni, meg kell várni, míg felszabadul egy „hely” (érkezési sorrend!).</li>
                <li>Súlyzókat, rudakat, egyéb eszközöket a használat után mindig vissza kell tenni a helyére. Mindenkinek kötelessége rendet és tisztaságot tartani! A berendezéseket és a gépeket rendeltetésszerűen kell használni, a súlyzókat tilos ledobni, tárcsákat a falaknak támasztani. A falfelületek épségére vigyázzatok! A termekben mindenki kulturáltan viselkedjen.</li>
                <li>Ha valaki új meghibásodást, kárt észlel, köteles azonnal jelenteni egy Kondi Kör tagnak.</li>
                <li>Az edzőterem nyitva tartása: 7-24.</li>
                <li>A Martos Kondi Kör a teremben hagyott értékekért felelősséget nem vállal.</li>
                <li>Kulcsszabályzat: A konditermek kulcsait a Martos Kollégium portájáról lehet elkérni az arra jogosult személyeknek. A 004-es, kardió teremhez külön kulcs tartozik, aminek felvételét a jelenléti füzetben a megfelelő oszlopban jelezni kell. Ha valaki végzett az edzéssel és nincs senki a konditermekben, a világítás és az elektromos berendezések kikapcsolása után (a konnektorból ne húzzátok ki!) be kell zárni az összes termet, a kulcsokat a portán le kell adni és kiírnia magát a jelenléti füzetből. A kulcsszabályzat megsértése kirívó házirendsértésnek minősül, kizárást eredményez.</li>
                <li>A házirend elleni kisebb vétség figyelmeztetéssel jár. Szándékos rongálás, lopás, kirívó házirendsértés azonnali bérletmegvonást, illetve 2-nél több figyelmeztetés begyűjtése végleges kitiltást eredményez!</li>
                <li> A konditerem WiFi hálózata: martoskondi. A vezeték nélküli hálózat bevezetése az edzés kényelmét szolgálja, fel- és letöltés, torrentezés, illetve a készülékek beállításainak megváltoztatása szigorúan tilos!</li>
                <li>Az összes terem hangrendszere egy telefonra csatlakoztatható, amihez a középső teremben találjátok a jack-dugót. Megkérünk mindenkit, hogy a kollégium lakóira való tekintettel este 22 óra után ne hallgassatok hangosan zenét!</li>
                <li> Megkérünk mindenkit, hogy a szemetet a neki megfelelő szelektív kukában gyűjtse.</li>
                <li> 1A konditeremben dezodor és magnézia (minden formátumban) használata tilos!</li>
            </ol>
		  <hr>
          
        </div>

          <!--/*/ <th:block th:include="fragments/right-column :: right-column"></th:block> /*/-->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
  </body>

</html>
